@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #001A49;
    }

body{
    font-family: "Poppins", sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: let(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(/img/img1.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}


/*Nav*/
.zocalo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; 
    background-color: white;
    z-index: -1; 
}

.nav {
    position: relative; 
    z-index: 1; 
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #000; 
    text-decoration: none;
}
.nav__link{
    display:flex;
    font-size: 17px;
    justify-content: flex-end;
    margin-top: 55px;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__logo {
    position: absolute;
    top: 0;
    left: 0;
    
    display: flex;
    align-items: center; 
}
.nav__logo img {
    width: 120px;
    height: 115px;
}

.boton-donar {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: -10px;
    
}

.boton-donar:hover {
    background-color: #0056b3;
}



/*Hero Container*/

.hero__container{
    max-width: 800px;
    display: grid;
    --padding-container: 0;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title{
    font-size: 3rem;
}

.hero__paragraph{
    font-size: 25px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cta{
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/*About*/

.about{
    text-align: center;
}

.subtitle{
    color: let(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph{
    line-height: 1.7;
    margin-bottom: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    
}

.about__main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.about__icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: auto;
}

.about__icon{
    width: 40px;
}

.about__image {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 35px;
}
.space {
    margin-bottom: 20px; 
}





/*Knowledge - QUIERO DONAR*/
.knowledge {
    background-color: #5d9999;
    padding: 50px 0;
}


.knowledge__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.knowledge__paragraph{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    line-height: 1,7;
    margin-bottom: 20px;
}

.knowledge__img {
    vertical-align: middle;
    width: 55px;
    
}

.cta2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #33c2ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta2:hover {
    background-color: #cc0044;
}

/*Slider*/

.slider{
    background-color: #e5e5f7;
}

.slider__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.slider__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}
.slider__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.slider__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.slider__text{
    max-width: 700px;
}

.slider__course{
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}
.slider__arrow{
    width: 90%;
    cursor: pointer;
}

/*Footer*/
.pie-pagina{
    width: 100%;
    background-color: #0a141D;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color:#fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    
}

.pie-pagina .grupo-2{
    color: #fff;
    text-align: center;
}

@media screen and (max-widt:800px) {
    .pie-pagina .grupo1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;}
}
